<div class="form-group" >
  <div class="col-md-2 text-right">
    <%= f.label :nickname, :class => "control-label" %>
  </div>
  <div class="col-md-10" style="display:inline-block">
    <%= f.text_field :nickname, :class => "form-control" %>
  </div>
</div>

<div class="form-group" >
  <div class="col-md-2 text-right">
    <%= f.label :firstname, :class => "control-label" %>
  </div>
  <div class="col-md-10" style="display:inline-block">
    <%= f.text_field :firstname, :class => "form-control" %>
  </div>
</div>

<div class="form-group" >
  <div class="col-md-2 text-right">
    <%= f.label :lastname, :class => "control-label" %>
  </div>
  <div class="col-md-10" style="display:inline-block">
    <%= f.text_field :lastname, :class => "form-control" %>
  </div>
</div>