<% count_if_no_objs = nil %>
<% if @category.new_record? %>
  <% url = admin_categories_path %>
  <% btn_name = "Create!" %>
  <% class_details = "btn-success" %>
<% else %>
  <% url = admin_category_path(@category) %>
  <% btn_name = "Update!" %>
  <% class_details = "btn-primary" %>
<% end %>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1>Category List</h1>
  </div>
  <div class="panel-body">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <%= form_tag admin_categories_path do %>
        <% Category.all.includes(:obj_categoryships).each do |c| %>
          <div class="btn-group" role="group">
            <% if c.obj_categoryships.length == 0 %>
              <% count_if_no_objs = true %>
              <div class="input-group">
                <span class="input-group-addon">
                  <%= check_box_tag "category_ids[]", c.id, false %>
                </span>
                <div class="input-group-btn">
                  <%= link_to c.name, edit_admin_category_path(c), :class => "btn btn-warning"  %>
                </div>
              </div>
            <% else %>
              <%= link_to c.name, edit_admin_category_path(c), :class => "btn btn-default"  %>
            <% end %>
          </div>
        <% end %>
        <% if count_if_no_objs %>
          <div class="btn-group" role="group">
            <%= submit_tag "Del", :class => "btn btn-danger" %>
          </div>
        <% end %>
      <% end %>
      <%= hidden_field_tag 'category_ids[]','' %>    
    </div>
  </div>

  <div class="panel-body">
    <%= form_for @category, :url => url do |f| %>
      <div class="input-group">
        <span class="input-group-btn">
            <button class="btn <%= class_details %>" type="submit"><%= btn_name %></button>
        </span>
        <%= f.text_field :name, :class=>"form-control", :placeholder => "Category..." %>
      </div>
    <% end %>
  </div>
</div>