<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1><%= @user.nickname %></h1>
  </div>

  <!-- Table -->
  <table class="table table-bordered table-striped">
    <tr>
      <th></th>
      <th>內容</th>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">objs</td>
      <td>
        <% @user_objs.each do |o| %>
          <ul class="pager">
            <li class="previous">
              <a href=<%= obj_path(o) %>><%= o.name %><span aria-hidden="true">&rarr;</span></a>
            </li>
          </ul>
          <% o.comments.each do |oc| %>
              <div class="panel panel-default">
                <div class="panel-heading"><%= oc.title %></div>
                <div class="panel-body"><%= oc.paragraph %></div>
              </div>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">comments</td>
      <td>
        <% @user_comments.each do |c| %>
          <span class="label label-info"><%= c.obj[:name] %></span>
          <div class="panel panel-default">
            <div class="panel-heading"><%= c.title %></div>
            <div class="panel-body"><%= c.paragraph %></div>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">nickname</td>
      <td class="col-md-10 text-left"><%= @user.nickname %></td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">email</td>
      <td class="col-md-10 text-left"><%= @user.email %></td>
    </tr>
  </table>
</div>

<%= link_to "Index", objs_path, :class => "btn btn-default" %>