<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1><%= @user.nickname %></h1>
  </div>

  <!-- Table -->
  <table class="table table-bordered table-striped">
    <tr>
      <th></th>
      <th>內容</th>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">objs</td>
      <td>
        <% @user_objs.each do |obj| %>
          <% if obj.ispublic %>
            <% href = obj_path(obj) %>
            <% show_name = obj.name %>
          <% else %>
            <% href = editor_objs_path(:obj => obj) %>
            <%# TODO display_obj_name(obj) %>
            <% show_name =  "(Draft...) " + obj.name %>
          <% end %>
          <ul class="pager">
            <li class="previous">
              <a href=<%= href %>>
                <%= show_name %>
                <% if obj.ispublic %>
                  <span aria-hidden="true">&rarr;</span>
                <% end %>
              </a>
            </li>
          </ul>
          <% obj.comments.each do |obj_comment| %>
            <div class="panel panel-primary">
              <div class="panel-heading"><%= obj_comment.title %></div>
              <div class="panel-body"><%= obj_comment.paragraph %></div>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">comments</td>
      <td>
        <% @user_comments.each do |comment| %>
          <ul class="pager">
            <li class="previous">
              <a href=<%= obj_path(comment.obj) %>>
                <span aria-hidden="true">&larr;</span><%= comment.obj[:name] %>
              </a>
            </li>
          </ul>
          <div class="panel panel-default">
            <div class="panel-heading"><%= comment.title %></div>
            <div class="panel-body"><%= comment.paragraph %></div>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">nickname</td>
      <td class="col-md-10 text-left"><%= @user.nickname %></td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">email</td>
      <td class="col-md-10 text-left"><%= @user.email %></td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">collection</td>
      <td>
        <% @ucs_objs.each do |ucs_obj| %>
          <a href=<%= obj_path(ucs_obj) %>>
            <span aria-hidden="true">&larr;</span><%= ucs_obj.name %>
          </a>
          <div class="panel panel-info">
            <div class="panel-heading">
              <%# TODO %>
              <% if ucs_obj.user.nickname == "" %>
                <%= ucs_obj.user.email.split('@').first %>
              <% else %>
                <%= ucs_obj.user.nickname %>
              <% end %>
            </div>
            <div class="panel-body"><%= ucs_obj.description %></div>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="text-capitalize align-right col-md-2">liked</td>
      <td>-
        <% @uls_objs.each do |uls_obj| %>
          <%= uls_obj.name %> -
        <% end %>
      </td>
    </tr>
  </table>
</div>

<%= link_to "Index", objs_path, :class => "btn btn-default" %>