<% comment.update(:title => "Re: #{@obj.name}") if comment.title == "" || comment.title.nil? %>

<% if comment.user.nickname.nil? || comment.user.nickname == "" %>
  <% show_user_name = comment.user.email.split("@").first %>
<% elsif comment.user.nickname.length > 15 %>
  <% show_user_name = comment.user.nickname[0..14] + "..." %>
<% else %>
  <% show_user_name = comment.user.nickname %>
<% end %>

<%= form_for comment, :url => "#" do |c| %>

  <div class="panel panel-default">
    <div class="panel-heading">

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= show_user_name %></span>
        <span class="input-group-addon" id="basic-addon2">Title:</span>
        <%= c.text_field :title, :class => "form-control", :readonly => true, :style => "background-color:#fff" %>
        <% if comment.user == current_user %>
          <span class="input-group-btn" id="basic-addon3">
            <%= link_to "Del", user_comment_path(comment,:obj => @obj), :method=>"delete", :class =>"btn btn-danger" %>
          </span>          
        <% end %>
      </div>
    </div>

    <div class="panel-body">
      <%= c.text_area :paragraph, :class => "form-control", :readonly => true, :style => "background-color:#fff" %>
    </div>

  </div>    
<% end %>
