<%= form_for @comment, 
  :url => user_comments_path(:obj => @obj,:comment_id => @comment), 
  :method => "post" do |c| %>

  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Title:</button>
        </span>
        <%= c.text_field :title, :class => "form-control", :placeholder=> "Re: #{@obj.name}" %>
      </div>
    </div>
    
    <div class="panel-body">
      <%= c.text_area :paragraph, :class => "form-control" %>
    </div>

    <div class="panel-body">
      <div class="input-group">
        <%= c.submit "submit", :class => "btn btn-default text-right" %>
        <div class="checkbox btn btn-info" style="margin: 0 3px;">
          <label>
            <%= check_box_tag :ispublic, true %> （Draft）-> check to post.
          </label>
        </div>
      </div>
    </div>
  </div>    
<% end %>
