<% if current_user %>
  <% if current_user.fb_uid %>
    <% avatar_url = current_user.fb_raw_data.info.image %>
  <% else %>
    <% avatar_url = gravatar_url(current_user.email.strip.downcase) %>
  <% end %>
<% else %>
  <% avatar_url = gravatar_url("#{user_name(current_user).strip.downcase}@gmail.com") %>
<% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= objs_path %>>Dopamine</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href=<%= about_objs_path %>>about
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <div class="nav navbar-form  navbar-left">
        <div id="fb-root"></div>
        <div class="fb-like btn" data-href="http://localhost:3000/objs" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      <div class="nav navbar-form  navbar-left">
        <div class="form-group">
          <%= form_tag objs_path, :method => :get do %>
            <%= text_field_tag "keyword", nil,:class => "form-control" %>
            <%= submit_tag "Search", name: nil, :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">        
        <% if current_user %>
          <li><%= link_to "Now you see me", admin_users_path if current_user.admin? %></li>
          <li><%= link_to "Edit profile", edit_registration_path(:user) %></li>
          <li><%= link_to "Log out", destroy_user_session_path, :method => "delete" %></li>
        <% else %>
          <li><%= link_to "Sign up", new_registration_path(:user) %></li>
          <li><%= link_to "Sign in", new_session_path(:user) %></li>
          <li><%= link_to "FB Sign in", user_facebook_omniauth_authorize_path %></li>
        <% end %>
        <li>
          <img src=<%= avatar_url %> alt="avatar" style="margin: 8px 12px; width: 32px;">
        </li>
        <li class="dropdown">
          <a href=<%= current_user ? user_path(current_user) : "#" %> class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= user_name(current_user) %> 
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>