<% if current_user %>
  <% if current_user.nickname.nil? || current_user.nickname == "" %>
    <% show_user_name = comment.user.email.split("@").first %>
  <% elsif current_user.nickname.length > 15 %>
    <% show_user_name = current_user.nickname[0..14] + "..." %>
  <% else %>
    <% show_user_name = current_user.nickname %>
  <% end %>
<% else %>
  <% show_user_name = Faker::Superhero.name %>
<% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= objs_path %>>Dopamine</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href=<%= about_objs_path %>>about<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav navbar-form  navbar-left">
        <div class="form-group">
          <%= form_tag objs_path, :method => :get do %>
            <%= text_field_tag "keyword", nil,:class => "form-control" %>
            <%= submit_tag "Search", name: nil, :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to( "後台", admin_objs_path) if current_user.admin? %></li>
          <li><%= link_to( "修改資料", edit_registration_path(:user)) %></li>
          <li><%= link_to( "登出", destroy_user_session_path, :method => "delete" ) %></li>
        <% else %>
          <li><%= link_to( "註冊", new_registration_path(:user)) %></li>
          <li><%= link_to( "登入", new_session_path(:user)) %></li>
        <% end %>
        <li class="dropdown">
          <a href=<%= user_path(current_user) %> class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= show_user_name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>