<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h1>Property List</h1>
  </div>
  <div class="panel-body">
    <p>This is <%= Time.now %> now!</p>
  </div>

  <!-- Table -->
  <table class="table table-hover">
		<tr>
			<th><h3>Property (description)</h3></th>
			<th><h3>Show Details</h3></th>
			<th><h3>Edit</h3></th>
			<th><h3>Delete</h3></th>
		</tr>
		<% @objs.each do |obj| %>
			<tr>
				<td><%= obj.name %> ( <%= obj.description %> )</td>
				<td><%= link_to "Show", obj_path(obj), :class => "btn btn-default" %></td>
				<td><%= link_to "Edit", edit_obj_path(obj,:page=>params[:page]),  :class => "btn btn-default" %></td>
				<td><%= link_to "Delete", obj_path(obj,:page=>params[:page]),:method => :delete, :class => "btn btn-danger"%></td>
			</tr>
		<% end %>
	</table>
</div>

<% if @obj != 0 %>
  <% if @obj.id %>    
    <%= render :partial =>"form_template" ,:locals => {:u => obj_path(@obj,:page=>params[:page]), :m => "patch"}  %>
  <% else %>
    <%= render :partial =>"form_template" ,:locals => {:u => objs_path(:page=>params[:page]), :m => "post"} %>
  <% end %>
<% else %>
<% @obj = Obj.new %> 
<%= render :partial =>"form_template" ,:locals => {:u => objs_path(:page=>params[:page]), :m => "post" } %>
<% end %>
<%= paginate @objs, :window => 2 %>

