<% content_for :head_css do %>
  <%= stylesheet_link_tag :objs %>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h1>Property List</h1>
  </div>
  <div class="panel-body">
    <%= form_tag post_index_objs_path(:order => params[:order]) do %>
      <% @categories.each do |c| %>
        <% checkinclude = params[:category_ids].include?(c.id.to_s) if params[:category_ids] %>
        <div class="form-group">
          <div class="pull-left">
            <label for=<%="obj_category_ids_#{c.id}"%> >
              <div class="checkbox btn btn-default" style="margin: 0 3px;" >
                <label>
                  <%= check_box_tag "obj[category_ids][]", c.id, checkinclude, :id => "obj_category_ids_#{c.id}" %>
                  <%= c.name %>
                </label>
              </div>
            </label>
          </div>
        </div>
      <% end %>
      <div class="form-group pull-right">
        <%= submit_tag "apply", :class => "btn btn-primary" %>
      </div>
      <%= hidden_field_tag 'obj[category_ids][]','' %>
    <% end %>
  </div>
  <!-- Table -->
  <table class="table table-hover">
		<tr>
			<th>
        <h4 class="navbar-left">Sort by</h4>
        <ul class="nav nav-pills navbar-right">
          <li role="presentation" <%= "class=active" if params[:order] == "by_newest" %>>
            <a href=<%= objs_path(:order => "by_newest", :page=>params[:page]) %>>Default</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_name" %>>
            <a href=<%= objs_path(:order => "by_name",:page=>params[:page]) %>>Alphabet</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_newcomment" %>>
            <a href=<%= objs_path(:order => "by_newcomment",:page=>params[:page]) %>>NewComment</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_hotest" %>>
            <a href=<%= objs_path(:order => "by_hotest",:page=>params[:page]) %>>Hotest</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_mostviewed" %>>
            <a href=<%= objs_path(:order => "by_mostviewed",:page=>params[:page]) %>>MostViewed</a>
          </li>
        </ul>
      </th>
      <% if current_user %>
        <th class="text-center"><h4>Like</h4></th>
        <th class="text-center"><h4>Edit</h4></th>
        <th class="text-center"><h4>Delete</h4></th>
      <% end %>
		</tr>
		<% @objs.each do |obj| %>
      <% @obj_tags = obj.tags %>
			<tr>
				<td>
          <div class="pull-right">
            <%= render :partial =>"comments_users", :locals => {:obj => obj } if current_user %>
            <span class="badge"><%= obj.views_count %></span> 
          </div>
          <%= link_to index_name(obj), obj_path(obj), :class => "text-left btn-link col-md-4", data: { turbolinks: false } %>  
          <div id="tags">
            <%= render :partial =>"/tags/tags" %>
          </div>          
        </td>
        <% if current_user %>
          <td id="like_star_<%= obj.id %>" class="text-center">
            <%= render :partial => "/users/like", :locals => { :obj => obj } %>
          </td>
          <% if current_user.access?(obj) %>
            <td class="text-center">
              <%= link_to "Edit", edit_obj_path(obj,:page=>params[:page]),  :class => "btn btn-default", data: { turbolinks: false } %>
            </td>
            <td class="text-center">
              <%= link_to "Delete", obj_path(obj,:page=>params[:page]),:method => :delete, :class => "btn btn-danger"%>
            </td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
			  <% end %>
      </tr>
		<% end %>
	</table>
</div>

<% if current_user %>
  <% if @obj.new_record? %>
    <div id="form_template" class="hidden">
      <%= render :partial =>"form_template" ,:locals => {:url => objs_path(:page=>params[:page]), :method => "post" } %>
    </div>
    <div id="new_obj_btn" class="pull-right btn btn-primary">
      New an Obj
    </div>
  <% else %>
    <%= render :partial =>"form_template" ,:locals => {:url => obj_path(@obj,:page=>params[:page]), :method => "patch"}  %>
  <% end %>
<% end %>

<div data-turbolinks="false">
  <%= paginate @objs %>
</div>
