<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h1>Property List</h1>
  </div>
  <div class="panel-body">
    <%= form_tag post_index_objs_path(:page => params[:page], :order => params[:order]) do %>
      <%= submit_tag "apply", :class => "btn btn-primary" %>
      <% Category.all.each do |c| %>
        <button type="button" class="btn btn-default">
          <% checkinclude = params[:category_ids].include?(c.id.to_s) if params[:category_ids] %>
          <%= check_box_tag "obj[category_ids][]", c.id, checkinclude %>
          <%= c.name %>
        </button>
      <% end %>
    <% end %>
    <%= hidden_field_tag 'obj[category_ids][]','' %>
  </div>
  <!-- Table -->
  <table class="table table-hover">
		<tr>
			<th>
        <h4 class="navbar-left">Sort by</h4>
        <ul class="nav nav-pills navbar-right">
          <li role="presentation" <%= "class=active" if params[:order] == "by_newest" %>>
            <a href=<%= objs_path(:order => "by_newest", :page=>params[:page]) %>>Default</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_name" %>>
            <a href=<%= objs_path(:order => "by_name",:page=>params[:page]) %>>Alphabet</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_last_updated" %>>
            <a href=<%= objs_path(:order => "by_last_updated",:page=>params[:page]) %>>LastUpdate</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_newcomment" %>>
            <a href=<%= objs_path(:order => "by_newcomment",:page=>params[:page]) %>>NewComment</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_hotest" %>>
            <a href=<%= objs_path(:order => "by_hotest",:page=>params[:page]) %>>Hotest</a>
          </li>
          <li role="presentation" <%= "class=active" if params[:order] == "by_mostviewed" %>>
            <a href=<%= objs_path(:order => "by_mostviewed",:page=>params[:page]) %>>MostViewed</a>
          </li>
        </ul>
      </th>
      <% if current_user %>
        <th class="text-center"><h4>Edit</h4></th>
        <th class="text-center"><h4>Delete</h4></th>
      <% end %>
		</tr>

		<% @objs.each do |obj| %>
			<tr>
				<td>
          <% obj_name = simple_format("#{obj.name}\n( #{obj.description[0..25]}#{"..." if obj.description.length > 25} )", nil, :class => "text-left") %>
          <div class="pull-right">
            <span class="label label-info"><%= obj.comments_count %></span> 
            <span class="badge"><%= obj.views_count %></span> 
          </div>
          <%= link_to obj_name, obj_path(obj), :class => "text-left btn-link" %>
        </td>
        
        <% if current_user %>
          <% if current_user == obj.user || current_user.role == "admin" %>
            <td class="text-center"><%= link_to "Edit", edit_obj_path(obj,:page=>params[:page]),  :class => "btn btn-default" %></td>
            <td class="text-center"><%= link_to "Delete", obj_path(obj,:page=>params[:page]),:method => :delete, :class => "btn btn-danger"%></td>
          <% elsif obj.user.nil? %>
            <td class="text-center"><%= link_to "Edit", edit_obj_path(obj,:page=>params[:page]),  :class => "btn btn-default" %></td>
            <td></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
			  <% end %>
      </tr>
		<% end %>
	</table>
</div>

<% if @obj != 0 %>
  <% if @obj.id %>    
    <%= render :partial =>"form_template" ,:locals => {:u => obj_path(@obj,:page=>params[:page]), :m => "patch"}  %>
  <% else %>
    <%= render :partial =>"form_template" ,:locals => {:u => objs_path(:page=>params[:page]), :m => "post"} %>
  <% end %>
<% else %>
  <% @obj = Obj.new %> 
  <%= render :partial =>"form_template" ,:locals => {:u => objs_path(:page=>params[:page]), :m => "post" } %>
<% end %>
<%= paginate @objs, :window => 2 %>

