<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h1>Property List</h1>
  </div>
  <div class="panel-body">
    <p>This is <%= Time.now %> now!</p>
  </div>

  <!-- Table -->
  <table class="table table-hover">
		<tr>
			<th><h3>Property (description)</h3></th>
			<th><h3>Show Details</h3></th>
			<th><h3>Edit</h3></th>
			<th><h3>Delete</h3></th>
		</tr>
		<% @objs.each do |obj| %>
			<tr>
				<td><%= obj.name %> ( <%= obj.description %> )</td>
				<td><%= link_to "Show", obj_path(obj), :class => "btn btn-default" %></td>
				<td><%= link_to "Edit", edit_obj_path(obj), :class => "btn btn-default" %></td>
				<td><%= link_to "Delete", obj_path(obj),:method => :delete, :class => "btn btn-danger"%></td>
			</tr>
		<% end %>
	</table>
</div>
<!-- 
  	add_column :objs, :name, :string
  	add_column :objs, :serial, :string
  	add_column :objs, :datebought, :date
  	add_column :objs, :dateretire, :date
  	add_column :objs, :value, :integer
  	add_column :objs, :snumber1, :string
  	add_column :objs, :snumber2, :string
  	add_column :objs, :description, :text
  	add_column :objs, :user, :string
 -->

<!-- <%= link_to "New Object", new_obj_path , :class => "pull-left btn btn-success" %> -->
  <% if @obj %>
  <%= render :partial =>"new" ,:locals => {:u => ":url => objs_path"}%>
  <% else %>
  <% @obj = Obj.new %> 
  <%= render :partial =>"new" ,:locals => {:u => ":url => objs_path"}%>
  <% end %>
<!-- <br>
<div id="new_obj_form" style="display:none;">
</div>
<a href="javascript:showhide('new_obj_form')" class ="pull-left btn btn-success">
    Click to Add new Object.
</a> -->
<%= paginate @objs, :window => 2 %>
