<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h1>Property List</h1>
  </div>
  <div class="panel-body">
    <p>This is <%= Time.now %> now!</p>
  </div>

  <!-- Table -->
  <table class="table table-hover">

		<tr>
			<th>
        <ul class="nav nav-pills">
          <li role="presentation"><a href=<%= objs_path(:order => "by_newest",:page=>params[:page]) %>>Default</a></li>
          <li role="presentation"><a href=<%= objs_path(:order => "by_name",:page=>params[:page]) %>>Alphabet</a></li>
          <li role="presentation"><a href=<%= objs_path(:order => "by_last_updated",:page=>params[:page]) %>>Lastupdate</a></li>
          <li role="presentation"><a href=<%= objs_path(:order => "by_newcomment",:page=>params[:page]) %>>NewComment</a></li>
          <li role="presentation"><a href=<%= objs_path(:order => "by_hotest",:page=>params[:page]) %>>Hotest</a></li>
        </ul>
      </th>
      <% if current_user %>
        <th><h3>Edit</h3></th>
        <th><h3>Delete</h3></th>
      <% end %>
		</tr>

		<% @objs.each do |obj| %>
			<tr>
				<td>
          <% obj_name = simple_format("#{obj.name}\n( #{obj.description[0..25]}#{"..." if obj.description.length > 25} )", nil, :class => "text-left") %>
          <li class="list-group-item">
            <span class="badge"><%= obj.comments.count %></span>
            <%= link_to obj_name, obj_path(obj), :class => "text-left btn-link" %>
          </li>
        </td>
        
        <% if current_user %>
          <% if current_user == obj.user || current_user.role == "admin" %>
            <td><%= link_to "Edit", edit_obj_path(obj,:page=>params[:page]),  :class => "btn btn-default" %></td>
            <td><%= link_to "Delete", obj_path(obj,:page=>params[:page]),:method => :delete, :class => "btn btn-danger"%></td>
          <% elsif obj.user.nil? %>
            <td><%= link_to "Edit", edit_obj_path(obj,:page=>params[:page]),  :class => "btn btn-default" %></td>
            <td></td>
          <% end %>
			  <% end %>

      </tr>
		<% end %>
	</table>
</div>

<% if @obj != 0 %>
  <% if @obj.id %>    
    <%= render :partial =>"form_template" ,:locals => {:u => obj_path(@obj,:page=>params[:page]), :m => "patch"}  %>
  <% else %>
    <%= render :partial =>"form_template" ,:locals => {:u => objs_path(:page=>params[:page]), :m => "post"} %>
  <% end %>
<% else %>
  <% @obj = Obj.new %> 
  <%= render :partial =>"form_template" ,:locals => {:u => objs_path(:page=>params[:page]), :m => "post" } %>
<% end %>
<%= paginate @objs, :window => 2 %>

