<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h1>Object No.<%= @obj.id %></h1>
  </div>
  <div class="panel-body">
    <p>This is <%= Time.now %> now!</p>
  </div>

  <!-- Table -->
  <table class="table table-bordered table-striped">
	<tr>
    <th></th>
    <th>內容</th>
  </tr>
	<% @obj.attributes.each do |k,v| %>
	  <tr>
      <td class="text-capitalize align-right col-md-2"><%= k %>:</td>
      <td class="col-md-10 text-left">
          <p ><%= simple_format(v.to_s) %></p>
      </td>
    </tr>
	<% end %>
	</table>
</div>

<% @comments.each do %>
<% byebug %>
<% end %>
<%= render :partial => "form_comment" %>
<%= link_to "BACK", :back , :class => "btn btn-default" %>