
<div class="panel panel-info">

  <div class="panel-heading">
    <h2>Log in</h2>
  </div>
  
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-horizontal">
        <div class="form-group" >
          <div class="col-md-2 text-right">
            <%= f.label :email, :class => "control-label" %>
          </div>
          <div class="col-md-10" style="display:inline-block">
            <%= f.email_field :email, autofocus: true, :class => "form-control" %>  
          </div>
        </div>

        <div class="form-group" >
          <div class="col-md-2 text-right">
            <%= f.label :password, :class => "control-label" %>
          </div>
          <div class="col-md-10" style="display:inline-block">
            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="text-right">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>          
      </div>
      <div class="actions pull-right">        
        <%= f.submit "Log in", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>

</div>
