<%= render :partial => "admin/categories" %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1>Users List</h1>
  </div>

  <!-- Table -->
  <table class="table table-hover">
    <tr>
      <th class="text-center"><h4>User id</h4></th>
      <th class="text-center"><h4>Created at</h4></th>
      <th class="text-center"><h4>Updated at</h4></th>
      <th class="text-center"><h4>E-mail</h4></th>
      <th class="text-center"><h4>Nickname</h4></th>
      <th class="text-center"><h4>Firstname</h4></th>
      <th class="text-center"><h4>Lastname</h4></th>
      <th class="text-center"><h4>Role</h4></th>
      <th class="text-center"><h4>Edit</h4></th>
      <th class="text-center"><h4>Delete</h4></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to user.email, user_path(user), :class => "text-left btn-link" %></td>
        <td><%= user.nickname || user.fb_raw_data.info.name || "" %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.role %></td>
        <td class="text-center"><%= link_to "Edit", edit_admin_user_path(user), :class => "btn btn-default" %></td>
        <td class="text-center"><%= link_to "Delete", admin_user_path(user),:method => :delete, :class => "btn btn-danger"%></td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @users, :window => 2 %>

