<!DOCTYPE html>
<html>
  <head>
    <title>Property</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash[:alert] %>
        <p class="alert alert-warning col-md-4 text-center" role="alert"><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p class="alert alert-info col-md-4 text-center" role="alert"><%= flash[:notice] %></p>
      <% end %>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <%= render :partial => "/objs/navbar" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      $('label').click(function(){
        console.log();
        $(this).parent('.checkbox').toggleClass('active');
      });
    });
  </script>
</html>
