<!DOCTYPE html>
<html>
  <head>
    <title>Property</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://localhost:3000/objs" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title" />
    <meta property="og:description"   content="Your description" />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

  </head>

  <body>
    <div class="container">
      <% if flash[:alert] %>
        <p class="alert alert-warning col-md-4 text-center" role="alert"><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p class="alert alert-info col-md-4 text-center" role="alert"><%= flash[:notice] %></p>
      <% end %>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <%= render :partial => "/objs/navbar" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <script>
    // (function(d, s, id) {
    //   var js, fjs = d.getElementsByTagName(s)[0];
    //   if (d.getElementById(id)) return;
    //   js = d.createElement(s); js.id = id;
    //   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    //   fjs.parentNode.insertBefore(js, fjs);
    // }(document, 'script', 'facebook-jssdk'));
    // $(document).ready(function() {
    //   $('input[id~="obj_category_ids_"]').on('', function(ce){
    // //     // ce.stopPropagation();
    //     console.log("aa");
    //     // $(this).parent('.checkbox').toggleClass('active');
    //   });
    // });
  </script>
</html>
